{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">        <header>
            Modifier le mot de passe
        </header>
        <div class="fos_user_resetting_form">
            {{ form_widget(form) }}
            <footer>
                <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-primary" />
            </footer>
        </div>
    </form>
    <style type="text/css">

        .fos_user_resetting_form {

            margin-right: 18px;
            margin-left:20px;
            padding: 15px;
        }

    </style>
{% endblock fos_user_content %}
