{% extends "login_layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    <form action="" method="post" id="login-form" class="smart-form client-form">
        <header>
            vérifier le courriel
        </header>

        <fieldset>
            <section>
                <p>
                    {{ 'resetting.check_email'|trans({'%email%': email}) }}
                </p>
            </section>
        </fieldset>
        <footer>

        </footer>
    </form>

{% endblock fos_user_content %}
