{% extends "login_layout.html.twig" %}

                        {% block fos_user_content %}
                            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request smart-form client-form">
                                <header>
                                    réinitialiser le mot de passe
                                </header>
                                <fieldset>

                                    {% if invalid_username is defined %}
                                        <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
                                    {% endif %}


                                    <section>
                                        <label for="username">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
                                        <label class="input"> <i class="icon-append fa fa-user"></i>
                                            <input type="text" id="username" name="username" required="required" />
                                            <b class="tooltip tooltip-bottom-right"><i class="fa fa-user txt-color-teal"></i> Entrez votre nom d'utilisateur ou email</b></label>

                                    </section>

                                </fieldset>
                                <footer>
                                    <input type="submit" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}"  class="btn btn-primary" />
                                </footer>
                            </form>
                        {% endblock fos_user_content %}


