
<div class="modal-header">
    <button type="button" class="close  closeajax" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i><span class="close"></span></button>
    <h2 class="modal-title" id="modal-fa5-label">Ajouter type congé </h2>
</div>
<div class="modal-body">
    {{ form_start(form,{'attr':{'class':'smart-form checkout-form','action':path('type_conge_new'),'method':'POST'|trans}})}}
    <section>
        <label class="label">type_Conge</label>
        <label class="input">
            <i class="icon-append fa fa-tag"></i>
            {{ form_widget(form.libelleType,{'attr': {'type':'text','name':'type_Conge','placeholder':'type_Conge'|trans}}) }}
            {{ form_errors(form.libelleType)}}


        </label>

    </section>

</div>

<div class="modal-footer">
    <footer>
        <button type="button" class="btn btn-default" data-dismiss="modal">
            Annuler
        </button>
        <button type="submit"  class=" btnajax btn btn-primary">
            Enregistre
        </button>


    </footer>
    {{ form_end(form,{'render_rest':false}) }}
</div>

