
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i><span class="close"></span></button>
    <h2 class="modal-title" id="modal-fa5-label">Ajouter Formation Complementaire </h2>
</div>
<div class="modal-body">
    {{ form_start(form,{'attr':{'class':'smart-form','id':'smart-form-register','action':path('formationcomplementaire_new'),'method':'POST'|trans}})}}
<div class="row">

    <section>
        <label class="label">commentaire</label>
        <label class="textarea"> <i class="icon-append fa fa-comment"></i>
            {{ form_widget ( form.commentaire,{ 'attr': {'type': 'text','name':'competance'|trans } } ) }}
        </label>
    </section>
</div>
</div>
<div class="modal-footer">
    {{ form_widget(form._token) }}

    <footer>
        <button type="button" class="btn btn-default" data-dismiss="modal">
            Annuler
        </button>
        <button type="submit" class="btn btn-primary">
            Enregister
        </button>


    </footer>
    {{ form_end(form,{'render_rest':false}) }}
</div>



