<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        &times;
    </button>

    <h4 class="modal-title" id="myModalLabel">Ajouter formation</h4>
</div>
<div class="modal-body" style="max-height: 470px; overflow-y: auto;">
    <section>
        <div action="{{path('ajax_snippet_image_send',{'id':formation.id})}}" class="dropzone {{ formation.id }}" id="mydropzone{{ formation.id }}" ></div>
    </section>
</div>


<div class="modal-footer">

</div>




